table
{
	margin:auto;
	background-color: #ffffff;
}
td,th
{
	border: 1px solid #000000;
	color:#000000;
}
.trhover
{
	background-color: #bbbbbb;
}
.thishover
{
	background-color: #777777;
}
.tdClick
{
	background-color: #000000;
}
.tdXCheck
{
	background-image:url('../../resources/images/letterx_black.png');
	background-repeat:no-repeat;
	background-size:cover;
}
.tdWrong
{
	background-image:url('../../resources/images/letterx_red.png');
	background-color: #ff9999;
	background-repeat:no-repeat;
	background-size:cover;
}